/data/cmap/repo_hub
/data/cmap/util_files
/data/rdkit
/validation
/data/cmap/util_files/GSE92742_Broad_LINCS_sig_info.txt
/embeddings/graph2vec
/embeddings/autoencoder_graph
/embeddings/unet
/embeddings/ged_distance
/group_check
/graphs_combined
/graphs_weighted
